<app-navbar></app-navbar>
<div class="container">
  <h1>Tasks</h1>
  <p class="lead">All Tasks</p>
  <button class="btn btn-success" (click)="createTask()">Create</button>
  <div class="container">
    <div class="row">
      <div class="col-md-2">Name</div>
      <div class="col-md-2">Type</div>
    </div>
    <div class="row" *ngFor="let task of tasksService.tasks">
      <app-task-list-item [item]="task"
                     [detailsTaskRouterLink]="getDetailsURL(task)"
                     [updateTaskRouterLink]="getUpdateURL(task)"
                     (delete)="deleteTask($event)"></app-task-list-item>
    </div>
  </div>
</div>
